######################
# Maven
######################
target/
!.mvn/wrapper/maven-wrapper.jar

######################
# Logs
######################
*.log

######################
# OS Files
######################
.DS_Store
Thumbs.db

######################
# IntelliJ IDEA
######################
.idea/
*.iws
*.iml
*.ipr

######################
# Eclipse / STS
######################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

######################
# NetBeans
######################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

######################
# VS Code
######################
.vscode/

######################
# Environment Files (IMPORTANT)
######################
.env
application-dev.properties
application-local.properties

######################
# Docker
######################
docker-compose.yml